<div >
  <!-- <h2 >{{value.product_name}} {{value.price}}</h2> -->
  <table>
    <tr>
      <th>Name</th>
      <th [style.background-color] = "prodService.gdaxStatus" >Gdax Price</th>
      <th [style.background-color] = "prodService.geminiStatus" >Gemini Price</th>
      <th [style.background-color] = "prodService.krakenStatus" >Kraken Price</th>
      <th [style.background-color] = "prodService.coinbaseStatus" >Coinbase Price</th>
      <th>Spread</th>
    </tr>
    <tr  *ngFor="let value of values" ngFor = "let key of keys" class="example1">
      <td class="productName">{{value.product_name}}</td>
      <td [style.background-color]="gdaxPrice(value)" class="price"><span>{{value.price}}</span><hr>{{value.time}}</td>
      <td [style.background-color]="geminiPrice(value)" class="price"><span>{{value.g_price}}</span><hr>{{value.g_time}}</td>
      <td [style.background-color]="krakenPrice(value)" class="price"><span>{{value.k_price}}</span><hr>{{value.k_time}}</td>
      <td [style.background-color]="coinbasePrice(value)" class="price"><span>{{value.c_price}}</span><hr>{{value.c_time}}</td>
      <td class="spread">{{spread(value)}}</td>
    </tr>
  </table>
</div>


